h1 {
    font-size: 60px;
    background-color: #851944;
    color: #FAFFFA;
    text-align: center;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
h2 {
    font-size: 40px;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
p {
    text-align: justify;
    font-family: "Crimson Text", "Times New Roman", serif;
}
body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
}
footer {
    background-color: #000;
    color: #F2FFFC;
}
blockquote {
    background-color: #D9E5E3;
}
nav a {
    color: #000;
}
main a {
    color: #851944;
}
nav h1 {
    color: #000;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}
